<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spacej.dao.UserDao">

<select id="findUserById" parameterType="int" resultType="user">
	SELECT id,username,birthday,sex,address  FROM USER WHERE id = #{id}
</select>

<resultMap type="user" id="queryUserResultMap">
	<id column="id_" property="id"/>
	<result column="username_" property="username"/>
	<result column="birthday_" property="birthday"/>
	<result column="sex_" property="sex"/>
	<result column="address_" property="address"/>
</resultMap>

<select id="findUsersResultMap" resultMap="queryUserResultMap">
	SELECT id id_,username username_,birthday birthday_,sex sex_,address address_  FROM USER
</select>

 <select id="findUserByName" parameterType="java.lang.String" resultType="com.spacej.model.User">
 	SELECT * FROM USER WHERE username LIKE '%${value}%'
 </select>

<insert id="insertUser" parameterType="com.spacej.model.User">
	<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
		select LAST_INSERT_ID()
	</selectKey>
	insert into user(username,birthday,sex,address) values(#{username},#{birthday},#{sex},#{address});
</insert>

<!-- 修改用户-->
<update id="updateUser" parameterType="com.spacej.model.User">
 update user set username=#{username},birthday=#{birthday},sex=#{sex},address=#{address} where id=#{id}
</update>

<!-- 删除用户 -->
<delete id="deleteUser" parameterType="int">
	delete from user where id = #{id}
</delete>

</mapper>
